<div fxFill fxLayout="column" fxLayoutAlign="center start">

  <button mat-button color="primary" (click)="mapClick()">Map</button>

  <button mat-button color="primary" (click)="filterClick()">Filter</button>

  <button mat-button color="primary" (click)="tapClick()">Tap</button>

  <button mat-button color="primary" (click)="takeClick()">Take</button>

  <button mat-button color="primary" (click)="debounceTimeClick()">Debounce Time</button>


</div>

<mat-divider></mat-divider>

<mat-form-field class="mat-form-top">
  <mat-label>Search By (click in Debounce Time before typing): </mat-label>
  <input matInput placeholder="Type something" autocomplete="off" 
    (keyup)="searchByUsingDebounceTime($event)"
    [(ngModel)]="searchInput" />
</mat-form-field>